{% load static %}

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href='{% static "css/BarraFija.css" %}'/>
<script src="https://kit.fontawesome.com/08f364107f.js" crossorigin="anonymous"></script>
</head>

<header>
    <title></title>
    <div class="a"></div>
    <div class="b">
        <ul class="barra">
            <img class="img" src= '{% static "imagenes/Logo pagina.png" %}'/>
            <li><a href="http://127.0.0.1:8000/principal/" class="nav">Inicio</a></li>
            <li><a href="http://127.0.0.1:8000/carreras/" class="nav">Carreras</a></li>
            <li><a href="http://127.0.0.1:8000/equipo/" class="nav">Quienes somos</a></li>
            <li><a href="http://127.0.0.1:8000/ranking/" class="nav">Ranking</a></li>
            <li><input type="text" class="busqueda"> <i class="fas fa-search"> </i></li>
        </ul>
    </div>
    <div class="c"></div>
</header>
