{% load static %}

<head>
    <title> Login </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href='{% static "css/login.css" %}'/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08f364107f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="login-box">
        <a href="http://127.0.0.1:8000/inicio/" ><img class="avatar" src='{% static "imagenes/Logo pagina.png" %}' alt="Logo"></a>
        <h1 class="titulo">Login</h1>
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="submit">Ingresar</button>
            <div class="texto_fin">
                <p>¿No tienes una cuenta?</p>
                <p><a class="link" href="http://127.0.0.1:8000/registro/">Registrate</a></p>
            </div>
        </form>
    </div>
</body>