{% load static %}
<head>
    <title> Biblioteca virtual </title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08f364107f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/ramos.css" %}'/>
</head>

<body>
    {%include "Barrasuperior.html"%}
    <a class="retroceso" href="http://127.0.0.1:8000/ramos/"><i class="fas fa-arrow-left"></i>  Volver atrás</a>
    <h1 class="titulo">Archivos</h1>
    <div class="archivos">
        {%for post in posts%}
        <div class="Bloque">
            <a class="archivo" href={{post.archivo.url}} download><li>{{post.titulo}}  ({{post.ramo}})</li></a>
            <form class="formulario-likes" method="post" action=".">
                {% csrf_token %}
                <input class="boton-like" type="number" value="{{post.id}}" hidden name="post"></input>
                {%if user in post.likes.all%}
                    <button class="boton-like" type="submit" id="submit" style="color:white;background:#0160A0;border:black solid 3px;"><i class="fas fa-thumbs-up"></i>          {{post.likes.all.count}}</button>
                {%else%}
                    <button class="boton-like" type="submit" id="submit"><i class="fas fa-thumbs-up"></i>          {{post.likes.all.count}}</button>
                {%endif%}
            </form>
        </div>
        {%endfor%}
    </div>
</body>