{% load static %}
<head>
    <title> Biblioteca virtual </title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08f364107f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/ranking.css" %}'/>
</head>

<body>
    {%include "Barrasuperior.html"%}
    <h1 class="titulo">TOP 10</h1>
    <h2 class="subtitulo">A continuación verás a los usuarios con mas likes</h2>
    {%for user in lista%}
        <li class="usuarios">{{user}}</li>
    {%endfor%}
</body>
