{% load static %}

<head>
    <title> Registro </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href='{% static "css/registro.css" %}'/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08f364107f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="register-box">
        <a href="/" ><img class="avatar" src='{% static "imagenes/Logo pagina.png" %}' alt="Logo"></a>
        <h1 class="titulo">Registro</h1>
            <form class="form" method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" id="submit">Registrarse</button>
                <div class="texto_fin">
                    <p>¿Ya tienes una cuenta?  <a class="link" href="/login/">Iniciar sesión</P>
                </div>
            </form>
    </div>
</body>