{% load static %}
<head>
    <title> Biblioteca virtual </title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08f364107f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href='{% static "css/ramos.css" %}'/>
</head>

<body>
    {%include "Barrasuperior.html"%}
        <article>
        <a class="retroceso" href="http://127.0.0.1:8000/ramos/"><i class="fas fa-arrow-left"></i>  Volver atrás</a>
        <h1>Archivos</h1>
        <div class="container-article">
            {%for post in posts%}
                <nav class="bloque">
                    <a class="archivo" href={{post.archivo.url}} download><li>{{post.titulo}}  ({{post.ramo}})</li></a>
                    <p class="like">{{post.likes.all.count}}
                    <form class="formulario-likes" method="post" action=".">
                        {% csrf_token %}
                        <input type="number" value="{{post.id}}" hidden name="post"></input>
                        {%if user in post.likes.all%}
                            <button type="submit" id="submit"><i class="fas fa-thumbs-up" style="color:white;background-color:#0160A0"></i></button>
                        {%else%}
                            <button type="submit" id="submit"><i class="fas fa-thumbs-up"></i></button>
                        {%endif%}
                    </p>
                    </form>
                </p>    
                </nav>
            {%endfor%}
        </div>
        </article>
</body>