*{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-decoration: none;
}

.rojo{
  display: block;
  background-color: red;
  width: 5%;
  height: 100%;
  margin: 0;
  text-align: justify;
}

form {
    background: #0160A0;
    margin-top: 100PX;
    margin-left: 58%;
    margin-right: 3%;
    padding: 3px;
    border-radius: 50px;
    border: 3px solid black;
    text-align: center;
}
h1{
    text-align: center;
    margin-top:15px;
    margin-bottom: 20px;
}
input {
  width: 80%;
  border: 0;
  border-bottom: 2px solid darkgray;
  outline: 0;
  background: #0160A0;
  padding: 10px 0 4px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  background:rgba(255, 255, 255, 0.596);
    border-radius: 10px;
    border: 3px solid black;
}

input:focus {
  border-color: whitesmoke;
  color: black;
}
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #0160A0;
  outline: 0;
  background: #0160A0;
  padding: 20px 0 4px;
  margin: 0 0 20px;
  color: white;
}
textarea:focus {
    border-color: white;
    color: black;
}
button#submit {
  width: 300px;
  padding: 10px 0;
  text-align: center;
  background: black;
  color:white;
  border: 0;
  border-radius: 10px;
  opacity: .8;
  transition: .35s linear;
  font-size: 20px;
}

button#submit:hover {
  opacity: 1;
}


button#submit:hover {
  opacity: 1;
}

.texto_fin{
    text-align: center;
    text-decoration: none;
    color: white;
}

